@model RegisterViewModel

<!-- Shiping Details -->
<div class="shiping-details">
	<div class="section-title">
		<h3 class="title">Giriş</h3>
	</div>
	<div>
		<form asp-controller="Account" asp-action="Register">
			<div class="form-group">
				<input asp-for="UserName" class="input" placeholder="@Html.DisplayNameFor(m => m.UserName)">
			</div>
			<div class="form-group">
				<input asp-for="Name" class="input" placeholder="@Html.DisplayNameFor(m => m.Name)">
			</div>
			<div class="form-group">
				<input asp-for="Surname" class="input" placeholder="@Html.DisplayNameFor(m => m.Surname)">
			</div>
			<div class="form-group">
				<input asp-for="Email" class="input" placeholder="@Html.DisplayNameFor(m => m.Email)">
			</div>
			<div class="form-group">
				<select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="input">
				</select>
			</div>
			<div class="form-group">
				<input asp-for="BirthDate" class="input">
			</div>
			<div class="form-group">
				<input asp-for="Password" class="input" placeholder="@Html.DisplayNameFor(m => m.Password)">
			</div>
			<input type="submit" class="primary-btn order-submit" value="Giriş" />
		</form>

	</div>
</div>
<!-- /Shiping Details -->